snippet doc
/**
 * ${1:comment}
 *${2:
 * @param ${4:$3} ${3:string} ${5:description}
 *
 * @return ${6:bool}}${7:
 * @author ${8:dupeng <dupeng@qufenqi.com>}}
 */
$0
endsnippet

snippet todo
// TODO: ${1:something}
$0
endsnippet
