snippet doc
/**
 * ${1:comment}
 *${2:
 * @param ${4:$3} ${3:string} ${5:description}
 *
 * @return ${6:bool}}${7:
 * @author ${8:paul du <admin@pauldo.com>}}
 */
$0
endsnippet

snippet todo
// TODO: ${1:something}
$0
endsnippet

snippet strpos
strpos(${1:$haystack}, ${2:$needle}${3:, ${4:$offset}})$0
endsnippet

snippet fopen
fopen(${1:\$filename}, '${2:r}')$0
endsnippet

snippet fclose
fclose(${1:\$rs})$0
endsnippet
